
body {
    background-color: #000000;
    background-image: url("../images/background.jpg");
}

h1, p, button, td {
    color: white;
}

.back-button {
    text-align: center;
    text-decoration: none;
	font-size: calc(10px + 0.390625vw);
    line-height: 2.5vw;
    font-weight: bold;
    
	margin-top: 6px;
    width: 5vw;
	height: 2.5vw;

	border: none;
    border-radius: 5px;
	background-color: #5b799b;
	color: white;
    margin-left: 10px;
}

.back-button:hover {
    color: white;
	background-color: #6f90b3;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.margin-right-80 {
    margin-right: 80%;
}

.text-1 {
    font-size: 3vmin;
}

.text-2 {
    font-size: 2.5vmin;
}

.text-3 {
    font-size: 2.2vmin;
}

.spacer {
    width: 6vw;
}

.background-transparent {
    background-color: rgba(45, 57, 105, 0.315);
}

.background-transparent-bright {
    background-color: rgba(62, 72, 107, 0.774);
}

.bold  {
    font-weight: bold;
}