/* 

fazer o 2x2 funcionar melhor
fazer o 1x4 no mobile funcionar
fazer as fontes serem mais dinamicas


*/


/* Containers dos botoes principais 2x2 */
.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 100%;
    width: 50%;
   
}


/*  Todos os botos individuais */
.button-container-button  {
    float: left;
    width: 50%;
    background: #fff;
    color: #ccc;
    text-align: center;  
    height: 50%;
    font-size: 50vmin;
    font-family: helvetica;
    border: none;
    border-radius: 10px;
}


/* Cada botao tem sua imagem background e hover event */
.button-container button#normalButton  {
    background: rgb(49, 49, 49);
    background-position: bottom;
    background-size: 50%;
}

.button-container button#normalButton:hover  {
    background-color: rgb(104, 104, 104);
    background-position: bottom;
    background-size: 50%;
}



.button-container button#brRankingButton  {
    background: rgb(49, 49, 49) url(./images/goldingot.png) 10px 10px no-repeat;
    background-position: bottom;
    background-size: 50%;
}
.button-container button#brRankingButton:hover  {
    background-color: rgb(104, 104, 104);

}



.button-container button#estadosRankingButton  {
    background: rgb(49, 49, 49) url(./images/estados.png) 10px 10px no-repeat;
    background-position: bottom;
    background-size: 35%;
}
.button-container button#estadosRankingButton:hover  {
    background-color: rgb(104, 104, 104);

}



.button-container button#rankedRankingButton  {
    background: rgb(49, 49, 49) url(./images/ranked.png) 10px 10px no-repeat;
    background-position: bottom;
    background-size: 50%;
}
.button-container button#rankedRankingButton:hover  {
    background-color: rgb(104, 104, 104);

}



.button-container button#recursosButton  {
    background: rgb(49, 49, 49) url(./images/recursos.png) 10px 10px no-repeat;
    background-position: bottom;
    background-size: 50%;
    
}
.button-container button#recursosButton:hover  {
    background-color: rgb(104, 104, 104);

}



/* texto do botao */

/* texto do botao */
.button-text {
    font-size: calc(30px + 0.390625vw);
    font-weight: bold;
    vertical-align: auto;
    padding-bottom: 100px;
    color: rgb(255, 255, 255);
    min-width: 0;
}

.flex-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: 100%;
  width: 50%;
}

.grid-item {
  display: flex;
  flex-basis: calc(45% - 10px);
  justify-content: center;
  flex-direction: column;
  margin: 20px auto;
  margin-inline: 20px;
  max-width: 70vmin;
  min-width: 40vmin;
  height: 40vh;
  background: #d7d7d7;
}

.grid-item h3 {
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.center-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 100%;
    
}


  