/* 

fazer o 2x2 funcionar melhor
fazer o 1x4 no mobile funcionar
fazer as fontes serem mais dinamicas


*/


/* Containers dos botoes principais 2x2 */
.button-container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    width: 60vw;
    flex-wrap:wrap;
   
}
.button-wrapper {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    height: 100%; 
}



/*  Todos os botos individuais */
.button-container-button  {
    width: 40vmin;
    height: 35vmin;
    margin-inline: 20px;
    border-radius: 10px;
    border: none;
}


/* Cada botao tem sua imagem background e hover event */
.button-container button#normalButton  {
    background: rgb(49, 49, 49);
    background-position: bottom;
    background-size: 50%;
}

.button-container button#normalButton:hover  {
    background-color: rgb(104, 104, 104);
    background-position: bottom;
    background-size: 50%;
}



.button-container button#brRankingButton  {
    background: rgb(49, 49, 49) url(./images/goldingot.png) 10px 10px no-repeat;
    background-position: bottom;
    background-size: 50%;
}
.button-container button#brRankingButton:hover  {
    margin-inline: 20px;
    background-color: rgb(104, 104, 104);

}



.button-container button#estadosRankingButton  {
    background: rgb(49, 49, 49) url(./images/estados.png) 10px 10px no-repeat;
    background-position: bottom;
    background-size: 35%;
}
.button-container button#estadosRankingButton:hover  {
    margin-inline: 20px;
    background-color: rgb(104, 104, 104);

}



.button-container button#rankedRankingButton  {
    background: rgb(49, 49, 49) url(./images/ranked.png) 10px 10px no-repeat;
    background-position: bottom;
    background-size: 50%;
}
.button-container button#rankedRankingButton:hover  {
    margin-inline: 20px;
    background-color: rgb(104, 104, 104);

}



.button-container button#recursosButton  {
    background: rgb(49, 49, 49) url(./images/recursos.png) 10px 10px no-repeat;
    background-position: bottom;
    background-size: 50%;
    
}
.button-container button#recursosButton:hover  {
    margin-inline: 20px;
    background-color: rgb(104, 104, 104);

}






/* o 2x2 sem essa linha tem um espaco bizarro entre linhas, isso aqui diminui ele */
/* Nao funciona com monitor ultra wide */
.button-container button:nth-child(n+3) {
    margin-top: -150px; 
}



/* texto do botao */

/* texto do botao */
.button-text {
    font-size: calc(30px + 0.390625vw);
    font-weight: bold;
    vertical-align: auto;
    color: rgb(255, 255, 255);
    vertical-align: auto;
}

.small-button-text {
    font-size: calc(30px + 0.390625vw);
    font-weight: bold;
    vertical-align: auto;
    color: rgb(255, 255, 255);
    line-height: 3.5vw;
}

.small-button-container-button {
    width: 83vmin;
    height: 8vmin;
    margin-inline: 20px;
    border-radius: 10px;
    border: none;
    position: fixed;
   bottom: 1%;
}


/* titulo */
.index-title {
    text-align: center;
    width: 100%;
    position: absolute;
    color: aliceblue;
    font-size: 9vmin;
    font-weight: bold;
}

/* div para dar um espaco entre elementos*/
.spacer {
    height: 8vw;
    width: 8vw;

}