#chartdiv {
	width: 100%;
	height: 100%;
  }

.test {
	
	position: fixed;
	font-size: 1.5vw;
	z-index: 1;
	background-color: rgb(41, 47, 70);
	color: white;
	width: 30vw;
	height: 100%;
}

body {
	background-color: #000000;
	background-image: url("https://static.planetminecraft.com/files/image/minecraft/texture-pack/2020/887/13327895-pack_xl.webp");
}

.Title {
	font-size: 2.5vw;
	font-weight: bold;
	text-align: center;
	justify-self: center;
}

.cat-btn {
	margin-bottom: 6px;
	font-weight: bold;
	overflow-y: auto;
	font-size: 1.3vw;
	width: 8vw;
	height: 6vh;
	border-radius: 6px;
	background-color: #4f4d74;
	border: none;
	color: aliceblue;
}

.ver-btn {
	margin-bottom: 6px;
	font-weight: bold;
	overflow-y: auto;
	font-size: 1vw;
	width: 7vw;
	height: 5vh;
	border-radius: 6px;
	background-color: #3d3b5a;
	border: none;
	color: aliceblue;
}

.ver-btn:hover {
	background-color: #55537a;
}

.cat-btn:hover {
	background-color: #666494;

}

.runner {
	background-color: #1d1c2b;
	margin-bottom: 6px;
	margin-top: 6px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 11px;
	border-radius: 10px;
	align-self: center;
	width: 90%;
}


.test2 {
	width: 100%;
}

.times {
	white-space: nowrap; 
	overflow-y: auto;
}




::-webkit-scrollbar {
	width: 6px;
  }


  

::-webkit-scrollbar-track {
	background: #f1f1f1;
  }
  

::-webkit-scrollbar-thumb {
	background: #888;
  }

::-webkit-scrollbar-thumb:hover {
	background: #525258;
  }