#chartdiv {
	width: 100%;
	height: 100%;
  }

.run-container {
	position: fixed;
	font-size: 1.5vw;
	z-index: 2;
	background-color: rgb(41, 47, 70);
	color: white;
	width: 30vw;
	height: 100%;
}

body {
	background-color: #000000;
	background-image: url("https://static.planetminecraft.com/files/resource_media/screenshot/1147/Void_872770.jpg");
}

.Title {
	padding-top: 50px;
	font-size: 2.5vw;
	font-weight: bold;
	text-align: center;
	justify-self: center;
}

.cat-btn {
	margin-bottom: 6px;
	font-weight: bold;
	overflow-y: auto;
	font-size: 1.3vw;
	width: 8vw;
	height: 6vh;
	border-radius: 6px;
	background-color: #4f4d74;
	border: none;
	color: aliceblue;
}

.ver-btn {
	margin-bottom: 6px;
	font-weight: bold;
	overflow-y: auto;
	font-size: 1vw;
	width: 7vw;
	height: 5vh;
	border-radius: 6px;
	background-color: #3d3b5a;
	border: none;
	color: aliceblue;
	
}

.ver-btn:hover {
	background-color: #666494;
}

.cat-btn:hover {
	background-color: #666494;

}

.runner {
	background-color: #1d1c2b;
	margin-bottom: 6px;
	margin-top: 6px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 11px;
	border-radius: 10px;
	align-self: center;
	width: 90%;
	font-weight: bold;
}

.times {
	white-space: nowrap; 
	overflow-y: auto;
}

::-webkit-scrollbar {
	width: 6px;
  }

::-webkit-scrollbar-track {
	background: #f1f1f1;
  }
  

::-webkit-scrollbar-thumb {
	background: #888;
  }

::-webkit-scrollbar-thumb:hover {
	background: #525258;
  }

.brasilBtn {
	position: fixed;
	width: 9vw;
	height: 6vh;
	margin-top: 6px;
	padding: 5px;
	margin-left: 40vw;
	font-weight: bold;
	font-size: 1.3vw;
	background-color: #39972e;
	border: none;
	color: aliceblue;
	border-radius: 6px;
	line-height: 4.5vh;

}

.brasilBtn:hover {
	background-color: #297021;
}

.back-button {
	font-size: calc(10px + 0.390625vw);
	margin-top: 6px;
    width: 5vw;
	height: 2.5vw;
	border: none;
	background-color: #5b799b;
	color: white;
	border-radius: 5px;
	font-weight: bold;
	position: absolute;
	margin-right: 23vw;

}

.back-button:hover {
	background-color: #6f90b3;
}

.spacer {
    width: 6vw;
}